/* Container Styles */
.lost-info {
    background-color: black;
    margin: 3rem 20rem;
    /* Container margin */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    /* Semi-transparent background */
    padding: 2rem;
    border-radius: 10px;
  }
  
  /* Text Section Styling */
  .text-section {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .text-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-section p {
    line-height: 1.6;
    font-size: 1.2rem;
    text-transform: lowercase;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  
  /* Image Section Styling */
  .image-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-section img {
    width: 60%;
    height: 600px;
    margin-bottom: 2rem;
    border-radius: 10px;
    /* Border color matching the button */
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .lost-info {
      margin: 3rem 5rem;
      /* Adjust margin */
    }
  }
  
  @media (max-width: 768px) {
    .lost-info {
      margin: 2rem 2rem;
      /* Adjust margin */
      padding: 1.5rem;
    }
  
    .text-section h2 {
      font-size: 2rem;
    }
  
    .text-section p {
      font-size: 1rem;
    }
  
    .image-section img {
      width: 90%;
      /* Slightly reduce image width */
    }
  }
  
  @media (max-width: 480px) {
    .lost-info {
      margin: 1rem 1rem;
      /* Further adjust margin */
      padding: 1rem;
    }
  
    .text-section h2 {
      font-size: 1.5rem;
    }
  
    .text-section p {
      font-size: 0.9rem;
    }
  
    .image-section img {
      width: 100%;
      height: 400px;
      /* Full width for small screens */
    }
  }