/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monument Extended", " Helvetica", Arial, sans-serif;

}

.header {
  background-color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2rem;
}

.logo-img {
  width: 50px;
  height: 50px;
  left: 0;
}

.menu-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 100;
  padding: 0.5rem;

  color: white;
  border: none;
  cursor: pointer;
}

.menu-btn button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  width: 20%;
  overflow-y: auto;
  height: 100%;
  background-color: #000;
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 70px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-list {
  list-style: none;
  flex-grow: 1;
}

.menu-list li {


  padding: 10px 0;

  cursor: pointer;
}

.menu-list button {
  background: none;
  border: none;
  color: white;
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.header-logo {
  height: 100%;
  width: 50%;
  margin-bottom: 5rem;


}

.submenu {
  list-style: none;
  padding-left: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.submenu li {
  padding: 5px 0;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}

.social-icons a {
  color: white;
  font-size: 1.8rem;
}

.auth-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

}



.up-arrow {
  background: none;
  border: none;
  color: white;
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.auth-buttons button {
  background-color: #333;
  color: white;
  border: 1px solid black;
  font-weight: 800;

  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #444;
  border: 1px solid #f0f0f0;
}

/* For Webkit browsers (Chrome, Safari, and Edge) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background-color: black;
  /* Background color of the track */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: white;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Optional: Adds a rounded effect */
}

/* Optional: Add hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #e2e2e3;
  /* Change color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* Makes the scrollbar thinner */
  scrollbar-color: white black;
  /* scrollbar color white, track color black */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 100%;
  }
}