
/* Global content wrapper */
.content-wrapper-emotional {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
  }
  
  /* Center content at the top */
  .center-content-emotional {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .center-content-emotional h2 {
    font-size: 3.5rem;
    color: transparent;
    margin-bottom: 1rem;
    width: 90%;
    -webkit-text-stroke: 2px #685BC7;
  }
  
  .center-content-emotional p {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Split container with margin */
  .split-container-emotional {
    display: flex;
    justify-content: space-around;
    margin: 3rem 8rem;
    align-items: center;
  }
  
  /* Left and right split styles */
  .split-left-emotional,
  .split-right-emotional {
    flex: 1;
  }
  
  .split-left-emotional {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 2rem;
  }
  
  .split-left-emotional img {
    width: 70%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  .split-right-emotional {
    padding-left: 2rem;
  }
  
  .split-right-emotional h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #685BC7;
  
  }
  
  .split-right-emotional p {
    font-size: 1.7rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  
    font-style: italic;
    text-transform: lowercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    color: black;
  }
  
  .split-right-emotional button {
    padding: 0.8rem 1.5rem;
    background-color: #685BC7;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.3s ease;
  }
  
  .split-right-emotional button:hover {
    background-color: black;
  }
  
  /* Responsive Styles */
  
  /* For medium devices */
  @media (max-width: 1024px) {
    .split-container-emotional {
      flex-direction: column;
      margin: 3rem 5rem;
    }
  
    .split-left-emotional,
    .split-right-emotional {
      padding: 1rem 0;
      text-align: center;
    }
  
    .split-left-emotional img {
      width: 80%;
    }
  
    .split-right-emotional {
      padding: 0;
    }
  }
  
  /* For small devices */
  @media (max-width: 768px) {
    .split-container-emotional {
      margin: 2rem 2rem;
    }
  
    .split-left-emotional img {
      width: 100%;
    }
  
    .split-right-emotional h1 {
      font-size: 1.8rem;
    }
  
    .split-right-emotional p {
      font-size: 1rem;
    }
  
    .split-right-emotional button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
    }
  }
  
  /* For extra small devices */
  @media (max-width: 480px) {
    .content-wrapper-emotional {
      padding: 1rem;
    }
  
    .center-content-emotional {
      margin: 1rem;
      text-align: left;
      margin-bottom: 0;
    }
  
    .center-content-emotional h2 {
      font-size: 2rem;
    }
  
    .center-content-emotional p {
      font-size: 1rem;
    }
  
    .split-container-emotional {
      margin: 1.5rem 1rem;
  
    }
  
    .split-left-emotional img {
      width: 100%;
    }
  
    .split-right-emotional {
      text-align: left;
    }
  
    .split-right-emotional h1 {
      font-size: 1.5rem;
    }
  
    .split-right-emotional p {
      font-size: 0.9rem;
    }
  
    .split-right-emotional button {
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
    }
  }
  